test.sh
test.ps1
tests/foxnvimscript/*.sh
tests/foxnvimscript/*.ps1
tests/foxnvimscript/json_out
tests/foxnvimscript/output_test
tests/foxnvimscript/output_tests
json_out
output_test
output_tests

.foxnvim/
.commandcode/
PROMPT.md
PROMPT2.md
*.log
